.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--zinc-800);
    margin: 10px 28px;
    border-radius: 10px;
    padding: 20px;
}

.container-main h1 {
    margin-top: 20px;
    color: var(--zinc-200);
    text-align: center;
}

.container-main p {
    margin-top: 10px;
    color: var(--zinc-500);
    text-align: center;
}

.content-area {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--zinc-800);
    width: 80%;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}

.content-area .button-disabled {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--zinc-700);
    padding: 10px;
    border-radius: 100px;
    margin: 10px;
    font-size: 15px;
}

.content-area .button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--zinc-100);
    color: var(--zinc-900);
    padding: 10px;
    border-radius: 100px;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.content-area .button-disabled img {
    width: 20px;
}

.content-area .button:hover {
    background: var(--zinc-500);
}

.content-text {
    display: flex;
    align-items: center;
    margin: auto 10px;
}

.content-text p {
    text-align: left;
    margin: 10px 0px;
}

.prompt-area {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    border: 1px solid var(--zinc-800);
    width: 80%;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 10px;
    margin-bottom: 20px;
}

.prompt-area input {
    margin: auto 10px;
    width: 100%;
    background: transparent;
    border: none;
    color: var(--zinc-100);
    font-family: '__Plus_Jakarta_Sans_e3c363', '__Plus_Jakarta_Sans_Fallback_e3c363';
    font-size: 16px;
}

input:focus {
    outline: none;
    -webkit-appearance: none;
    outline-offset: 0;
}

.left {
    justify-content: flex-start
}

@media screen and (max-width: 1024px) {
    .container-main {
        width: 100%;
        margin: 10px 0px;
    }

    .content-area {
        width: 100%;
    }

    .prompt-area {
        width: 100%;
    }
}